.btn-menu{
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
}


@media(max-width:768px){
  .btn-menu{
    display: block;
    transition: 0.6s all ease;
  }
  .btn-menu.ativo{
   position: relative;
   transform:  translateX(15px) rotate(-60deg);
  }
  .nav-menu-prin{
    display: none;
  }
  .nav-menu-prin{
    background:var(--cor-0);
    border: 5px solid var(--cor-p1);
    right: -100%;
    width: 100%;
    max-width: 250px;
    position: fixed;
    gap: 20px;
    transition: 0.6s all ease;
    display: block;
  }
  .nav-menu-prin li{
    cursor: pointer;
    color: black;
    border-bottom: 3px solid var(--cor-p1);
  }
  .nav-menu-prin li:hover{
    transition: 0.3s all ease;
    color:var(--cor-p1);

  }
  .nav-menu-prin.ativo{
    transition:0.6s;
    position: absolute;
    right: 0;
  }
  .nav-menu-prin li{
    padding:12px;
  }
  .header-nav{
    flex-wrap: nowrap;
  }
  .logo-site{
    max-width: 100%;
  }
}