.item-slide{
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.slide-carro-ul{
  position: relative;
}
.slide-carro-ul > *{
 /* display: none; */
 position: absolute;
 opacity: 0;
 pointer-events: none;
}
.slide-carro-ul > .ativo{
  position: relative;
  opacity: 1;
  /* display: block; */
  pointer-events: initial;
  animation: animaSlide forwards .5s ;
}


@keyframes animaSlide{
  from{
    opacity: 0;
    transform: translate3d(-60px,0,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);

  }
}
