.SobreHeader{
  background: url('../imgs/img/backgrounds/bgsobre.jpg') no-repeat center center/cover;
}

.img-sobre{
  max-width: 500px;
  height: auto;
  width: 100%;
  border-radius: 12px;
}

.sobre-caixa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.diferencial{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  padding: 30px 0;
}
.ajuste-div{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.esfera{
  width: 350px;
  height: 350px;
  background: linear-gradient(180deg, #35B6FF 0%, #00A2FD 6.25%, #0074B5 100%);
  border: 6px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.flex-item{
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-box {
  padding: 16px;
}
.info-box h5{
  margin-bottom: 24px;
  font-weight: bold;
}

@media(max-width:1050px){
  .sobre-caixa{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .img-sobre{
    max-width: 100%;
  }
  .sobre-info{
    text-align: center;
  }
}

@media(max-width:768px){
  .caixa-sobre-img{
    grid-area: 1;
  }
}